# FINDING OPTIMAL LOCATION FOR A BUSINESS PROBLEM

### 1. Problem Description

In this project, the problem attempted to solve will be to find the best possible location or the most optimal, for an Indian restaurant in the city of London, England. To achieve this task, an analytical approach will be used, based on advanced machine learning techniques and data analysis, concretely clustering and perhaps some data visualization techniques. 

During the process of analysis, several data transformations will be performed, in order the find the best possible data format for the machine learning model to ingest. Once the data is set up and prepared, a modeling process will be carried out, and this statistical analysis will provide the best possible places to locate the Indian restaurant.

### 2. Data Presentation

The data that will be used to develop this project is based on two sites:

    1. The Foursquare Api: This data will be accesed via Python, and used to obtain the most common venues per neighborhood in the city of London. This way, it is possible to have a taste of how the city's venues are distributed, what are the most common places for leisure, and in general, it will provide an idea of what people's likes are.
    
    2. Wikipedia's Ethnic groups in London webpage: This site provides information about ethnicity of population in London which is of great utility to solve this problem. The webpage is scraped using BeautifulSoup4, and the table containing Asian population of London is converted into DataFrame. The data contains information about the inmigrant population per borough and per nationality. This data will be analyzed in such a way that one could determine the best location of r anew venue/restaurant/other based on people's nationalities. For the sake of simplicity, it will be assumed for this exercise that people's likes varies according to their nationality, and that people from one specific country will be more attracted to place that matches the environment and culture of their own countries, rather than the ones from foreign countries.

You can access the data by clicking [this link](https://en.wikipedia.org/wiki/Ethnic_groups_in_London)

### Let's see what the data looks like

In [3]:
import requests
import pandas as pd
import numpy as np

website_url = requests.get('https://en.wikipedia.org/wiki/Ethnic_groups_in_London').text

from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'html')

scrape_table = soup.find_all('table',{'class':'wikitable sortable'})
# scrape_table[2]
df_scraped = pd.read_html(str(scrape_table[2]))
df_scraped = df_scraped[0].dropna(axis=0)
df_scraped = df_scraped.drop(columns="Rank")
# df_scraped = df_scraped.transpose()
# new_header = df_scraped.iloc[0] 
# df_scraped = df_scraped[1:] 
# df_scraped.columns = new_header
df_scraped

,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population
0,Newham,42484,30307,37262,3930,19912,133895
1,Redbridge,45660,31051,16011,3000,20781,116503
2,Brent,58017,14381,1749,3250,28589,105986
3,Tower Hamlets,6787,2442,81377,8109,5786,104501
4,Harrow,63051,7797,1378,2629,26953,101808
5,Ealing,48240,14711,1786,4132,31570,100439
6,Hounslow,48161,13676,2189,2405,20826,87257
7,Hillingdon,36795,9200,2639,2889,17730,69253
8,Barnet,27920,5344,2215,8259,22180,65918
9,Croydon,24660,10865,2570,3925,17607,59627
10,Waltham Forest,9134,26347,4632,2579,11697,54389
11,Merton,8106,7337,2216,2618,15866,36143
12,Camden,6083,1489,12503,6493,8878,35446
13,Enfield,11648,2594,5599,2588,12464,34893
14,Wandsworth,8642,9718,1493,3715,9770,33338
15,Westminster,7213,2328,6299,5917,10105,31862
16,Greenwich,7836,2594,1645,5061,12758,29894
17,Barking and Dagenham,7436,8007,7701,1315,5135,29594
18,Southwark,5819,1623,3912,8074,7764,27192
19,Kingston Upon Thames,6325,3009,892,2883,13043,26152

In [4]:
df_scraped.to_csv('London population.csv')

This is the look of part of the actual data that will be used to tackle this optimal business location problem. In combination with the Foursquare API data, it should be enough to carry out a good analytical approach to solve this problem.

### 3. Target Audience

The target audience of this project could be any business owner that is planning to open a new business local, restaurant, real state agency, shops, etc... Since this approach could be applicable not only to Indian food restaurants but to other kind of businesses, anybody who is considering to place a new business local or even relocate it, could beneficiate of this project's approach.